João Paulo Gonçalves Santos <joao@jpclow.dev> <github.broadcast509@passinbox.com>
João Paulo Gonçalves Santos <joao@jpclow.dev> JPClow3 <joaopaulo.grv4@gmail.com>
João Paulo Gonçalves Santos <joao@jpclow.dev> João Paulo Gonçalves Santos <joaopaulo.grv4@gmail.com>
João Paulo Gonçalves Santos <joao@jpclow.dev> TBCJP <joaopaulogs@brasilcentral.com.br>
